Repository YAPP-Github/24th-Web-Team-1-BE, pull requests merged in 2024-10, with the labels that each got.

#428 [Refactor/#427] BrowseWorkbooksUseCase 리펙토링
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/BrowseWorkbooksUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/WorkBooks.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/order/AuthMainViewWorkbookOrderDelegator.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/order/OrderAbleWorkBooks.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/order/OrderTargetWorkBooks.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/order/OrderedWorkBooks.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/order/UnOrderedWorkBooks.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/order/WorkbookOrderDelegator.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/service/order/BasicWorkbookOrderDelegator.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/service/order/WorkbookOrderDelegator.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/service/order/WorkbookOrderDelegatorExecutor.kt
  api/src/test/kotlin/com/few/api/domain/workbook/usecase/BrowseWorkbooksUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/workbook/usecase/model/order/AuthMainViewWorkbookOrderDelegatorTest.kt
Labels: refactor

#433 [Feat/#430] 밀린 문제 ID 조회 API 추가
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/query/SelectAritlceIdByWorkbookIdAndDayQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/record/ArticleIdRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/ProblemDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/SubmitHistoryDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/query/SelectProblemIdByArticleIdsQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/query/SelectSubmittedProblemIdsQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/record/ProblemIdAndArticleIdRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/record/SelectProblemRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/record/SubmittedProblemIdsRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/SubscriptionDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/record/SubscriptionProgressRecord.kt
  api/src/main/kotlin/com/few/api/domain/problem/service/ArticleService.kt
  api/src/main/kotlin/com/few/api/domain/problem/service/SubscriptionService.kt
  api/src/main/kotlin/com/few/api/domain/problem/service/dto/BrowseArticleIdInDto.kt
  api/src/main/kotlin/com/few/api/domain/problem/service/dto/BrowseWorkbookIdAndProgressInDto.kt
  api/src/main/kotlin/com/few/api/domain/problem/service/dto/SubscriptionProgressOutDto.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/BrowseProblemsUseCase.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/BrowseUndoneProblemsUseCase.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/ReadProblemUseCase.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/dto/BrowseUndoneProblemsUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/dto/ReadProblemUseCaseOut.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/ProblemController.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/response/BrowseProblemsResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/response/ReadProblemResponse.kt
  api/src/main/resources/messages/subscribe.properties
  api/src/test/kotlin/com/few/api/domain/problem/usecase/BrowseUndoneProblemsUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/problem/usecase/ReadProblemUseCaseTest.kt
  api/src/test/kotlin/com/few/api/web/controller/ControllerTestSpec.kt
  api/src/test/kotlin/com/few/api/web/controller/problem/ProblemControllerTest.kt
Labels: feature

#435 [Docs/#434] PR 템플릿 추가 (실행계획)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#410 [Refactor/#409] 멤버 가입시 이메일과 컬럼 수정/생성 트랜잭션 분리
  api/src/main/kotlin/com/few/api/domain/member/usecase/SaveMemberUseCase.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/dto/SaveMemberTxCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/dto/SaveMemberTxCaseOut.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/transaction/SaveMemberTxCase.kt
  api/src/test/kotlin/com/few/api/domain/member/usecase/SaveMemberUseCaseTest.kt
Labels: refactor
