Repository YAPP-Github/24th-Web-Team-1-BE, pull requests merged in 2024-06, with the labels that each got.

#5 feat: 프로젝트 초기 액션을 추가합니다
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/auto-assign-author-to-assignees.yml
  .github/workflows/gpt_code_review.yml
  .github/workflows/labeler.yml
Labels: config

#9 feat: NCP 인프라를 테라폼을 활용하여 구성합니다
  .github/workflows/terrafrom_ncp_iac.yml
  infra/terraform/main.tf
  infra/terraform/ncp/acg.tf
  infra/terraform/ncp/db.tf
  infra/terraform/ncp/lb.tf
  infra/terraform/ncp/main.tf
  infra/terraform/ncp/nic.tf
  infra/terraform/ncp/rt.tf
  infra/terraform/ncp/server.tf
  infra/terraform/ncp/subnet.tf
  infra/terraform/ncp/tg.tf
  infra/terraform/ncp/variable.tf
  infra/terraform/ncp/vpc.tf
  infra/terraform/variable.tf
Labels: infra

#18 feat: 스프링 프로젝트 초기 설정 추가합니다
  .gitignore
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/DependencyVersion.kt
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle.kts
Labels: feature

#19 feat: 도커를 활용하여 로컬 개발 환경을 구축합니다
  resources/local-develop-environment/docker-compose.yml
  resources/local-develop-environment/mysql-init.d/00_init.sql
  scripts/local-develop-env-reset
Labels: feature, script

#20 feat: API 모듈을 추가합니다
  api/build.gradle.kts
  api/src/main/kotlin/com/few/ApiMain.kt
  build.gradle.kts
  settings.gradle.kts
Labels: feature

#21 feat: Data 모듈을 추가합니다
  build.gradle.kts
  buildSrc/src/main/kotlin/DependencyVersion.kt
  data/build.gradle.kts
  data/src/main/kotlin/com/few/data/config/DataConfig.kt
  data/src/main/kotlin/com/few/data/flyway/FlywayConfig.kt
  data/src/main/resources/application-data-local.yml
  data/src/main/resources/application-data-prd.yml
  data/src/main/resources/db/migration/entity/V1.00.0.0__init_foo_table.sql
  settings.gradle.kts
Labels: config, feature

#23 feat: PR 템플릿 추가
  .github/PULL_REQUEST_TEMPLATE.md
Labels: feature

#25 feat: api, data, email, common CODEOWNERS 추가
  .github/CODEOWNERS
Labels: feature

#28 feat: 린트 프리커밋을 저장합니다
  build.gradle.kts
  scripts/pre-commit
Labels: feature, script

#27 feat: 린트 액션을 추가합니다
  .github/workflows/lint.yml
  api/build.gradle.kts
  data/build.gradle.kts
Labels: feature

#30 feat: 테이블 설계 초안 추가
  data/src/main/resources/db/migration/entity/V1.00.0.1__draft_table_design.sql
Labels: feature

#22 feat: api-repo 모듈과 Jooq 설정을 추가합니다
  api-repo/build.gradle.kts
  api-repo/src/main/kotlin/com/few/api/repo/config/ApiRepoConfig.kt
  api-repo/src/main/kotlin/com/few/api/repo/datasource/DataSourceConfig.kt
  api-repo/src/main/kotlin/com/few/api/repo/flyway/FlywayConfig.kt
  api-repo/src/main/resources/application-api-repo-local.yml
  api-repo/src/main/resources/application-api-repo-prd.yml
  buildSrc/src/main/kotlin/DependencyVersion.kt
  data/build.gradle.kts
  data/db/migration/entity/V1.00.0.0__init_foo_table.sql
  data/src/main/resources/application-data-local.yml
  data/src/main/resources/application-data-prd.yml
  settings.gradle.kts
Labels: config, feature

#37 feat: ktlint 규칙 설정 파일 추가
  .editorconfig
  api-repo/build.gradle.kts
  api-repo/src/main/kotlin/com/few/api/repo/config/ApiRepoConfig.kt
  api-repo/src/main/kotlin/com/few/api/repo/datasource/DataSourceConfig.kt
  api-repo/src/main/kotlin/com/few/api/repo/flyway/FlywayConfig.kt
  api-repo/src/test/kotlin/com/few/api/repo/RepoTestContainerInitializer.kt
  api-repo/src/test/kotlin/com/few/api/repo/jooq/JooqTestConfig.kt
  api-repo/src/test/kotlin/com/few/api/repo/jooq/JooqTestSpec.kt
  api-repo/src/test/kotlin/com/few/api/repo/jooq/_SampleJooqTest.kt
  api/build.gradle.kts
  api/src/main/kotlin/com/few/ApiMain.kt
  build.gradle.kts
  data/build.gradle.kts
  data/src/main/kotlin/com/few/data/config/DataConfig.kt
  settings.gradle.kts
Labels: config, feature

#40 feat: 컨트롤러 초기 설정 구현
  api/src/main/kotlin/com/few/api/web/controller/hello/_HelloController.kt
  api/src/main/kotlin/com/few/api/web/controller/hello/request/_HelloBody.kt
  api/src/main/kotlin/com/few/api/web/controller/hello/request/_HelloParam.kt
  api/src/main/kotlin/com/few/api/web/filter/MDCFilter.kt
  api/src/main/kotlin/com/few/api/web/handler/ApiControllerExceptionHandler.kt
  api/src/main/kotlin/com/few/api/web/handler/ExceptionMessage.kt
  api/src/main/kotlin/com/few/api/web/handler/LoggingHandler.kt
  api/src/main/kotlin/com/few/api/web/support/ApiResponse.kt
  api/src/main/kotlin/com/few/api/web/support/ApiResponseGenerator.kt
  api/src/main/kotlin/com/few/api/web/support/MessageCode.kt
Labels: feature

#44 refactor: draft table 위치를 이동
  data/db/migration/entity/V1.00.0.0__draft_table_design.sql
  data/db/migration/entity/V1.00.0.0__init_foo_table.sql
  data/src/main/resources/db/migration/entity/V1.00.0.1__draft_table_design.sql
Labels: refactor

#41 feat: 컨트롤러 테스트 초기 설정 구현
  api/build.gradle.kts
  api/src/test/kotlin/com/few/api/web/controller/ControllerTestSpec.kt
  api/src/test/kotlin/com/few/api/web/controller/description/Description.kt
  api/src/test/kotlin/com/few/api/web/controller/helper/ApiDefinitionExtension.kt
  api/src/test/kotlin/com/few/api/web/controller/helper/PayloadDocumentationExtension.kt
  buildSrc/src/main/kotlin/DependencyVersion.kt
Labels: feature

#47 feat: 1차 API 스펙 작성
  api/build.gradle.kts
  api/src/main/kotlin/com/few/api/web/controller/article/ArticleController.kt
  api/src/main/kotlin/com/few/api/web/controller/article/response/ReadArticleResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/ProblemController.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/request/CheckProblemBody.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/response/CheckProblemResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/response/ReadProblemResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/WorkBookController.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/article/WorkBookArticleController.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/article/response/ReadWorkBookArticleResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/request/CancelSubWorkBookBody.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/request/SubWorkBookBody.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/response/ReadWorkBookResponse.kt
  api/src/test/kotlin/com/few/api/web/controller/article/ArticleControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/problem/ProblemControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/WorkBookControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/article/WorkBookArticleControllerTest.kt
Labels: feature

#54 refactor: ddl문의 ; 추가
  data/db/migration/entity/V1.00.0.0__draft_table_design.sql
Labels: refactor

#51 feat: api, api-repo 모듈 연결
  api-repo/build.gradle.kts
  api/build.gradle.kts
  api/src/main/kotlin/com/few/api/config/ApiConfig.kt
  api/src/main/resources/application.yml
Labels: config, feature

#64 refactor: ApiMan 클래스가 api 패키지 외부에 있어 이동
  api/src/main/kotlin/com/few/api/ApiMain.kt
  api/src/test/kotlin/com/few/api/web/controller/ControllerTestSpec.kt
Labels: refactor

#65 feat: GET /api/v1/workbooks/{workbookId}/articles/{articleId} 구현
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/query/SelectWorkBookArticleRecordQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/record/SelectWorkBookArticleRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/support/WriterDescriptionMapper.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/support/ContentsMapper.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/article/ArticleDaoTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/member/support/WriterDescriptionMapperTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/problem/support/ContentsMapperTest.kt
  api/src/main/kotlin/com/few/api/domain/workbook/article/dto/ReadWorkBookArticleUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/workbook/article/dto/ReadWorkBookArticleUseCaseOut.kt
  api/src/main/kotlin/com/few/api/domain/workbook/article/usecase/ReadWorkBookArticleUseCase.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/article/WorkBookArticleController.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/article/response/ReadWorkBookArticleResponse.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/article/WorkBookArticleControllerTest.kt
Labels: feature

#49 feat: problem 도메인 1차 구현
  .gitignore
  api-repo/.gitignore
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/ProblemDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/SubmitHistoryDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/command/InsertSubmitHistoryCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/query/SelectProblemAnswerQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/query/SelectProblemQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/record/SelectProblemAnswerRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/record/SelectProblemRecord.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/ProblemController.kt
  api/src/main/kotlin/com/few/api/web/usecase/problem/CheckProblemUseCase.kt
  api/src/main/kotlin/com/few/api/web/usecase/problem/ReadProblemUseCase.kt
  api/src/main/kotlin/com/few/api/web/usecase/problem/in/CheckProblemUseCaseIn.kt
  api/src/main/kotlin/com/few/api/web/usecase/problem/in/ReadProblemUseCaseIn.kt
  api/src/main/kotlin/com/few/api/web/usecase/problem/out/CheckProblemUseCaseOut.kt
  api/src/main/kotlin/com/few/api/web/usecase/problem/out/ReadProblemUseCaseOut.kt
  api/src/test/kotlin/com/few/api/web/controller/problem/ProblemControllerTest.kt
Labels: config, feature

#79 [Feat/#70] 학습지 구독 API 1차 구현
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/SubscriptionDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/command/InsertWorkbookSubscriptionCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/command/UpdateDeletedAtInWorkbookSubscriptionCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/CountWorkbookSubscriptionQuery.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/WorkbookSubscriptionController.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/request/SubscribeWorkbookRequest.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/request/UnsubscribeWorkbookRequest.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/WorkBookController.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/request/CancelSubWorkBookBody.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/request/SubWorkBookBody.kt
  api/src/main/kotlin/com/few/api/web/usecase/subscription/SubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/web/usecase/subscription/UnsubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/web/usecase/subscription/in/SubscribeWorkbookUseCaseIn.kt
  api/src/main/kotlin/com/few/api/web/usecase/subscription/in/UnsubscribeWorkbookUseCaseIn.kt
  api/src/test/kotlin/com/few/api/web/controller/subscription/WorkbookSubscriptionControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/WorkBookControllerTest.kt
Labels: feature

#86 fix: problem, subscripton usecase 패키지 위치 변경
  api/src/main/kotlin/com/few/api/domain/problem/CheckProblemUseCase.kt
  api/src/main/kotlin/com/few/api/domain/problem/ReadProblemUseCase.kt
  api/src/main/kotlin/com/few/api/domain/problem/in/CheckProblemUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/problem/in/ReadProblemUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/problem/out/CheckProblemUseCaseOut.kt
  api/src/main/kotlin/com/few/api/domain/problem/out/ReadProblemUseCaseOut.kt
  api/src/main/kotlin/com/few/api/domain/subscription/SubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/UnsubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/in/SubscribeWorkbookUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/subscription/in/UnsubscribeWorkbookUseCaseIn.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/ProblemController.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/WorkbookSubscriptionController.kt
  api/src/test/kotlin/com/few/api/web/controller/problem/ProblemControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/subscription/WorkbookSubscriptionControllerTest.kt
Labels: fix, refactor

#87 [Feat/#85] 구독 취소 API 보정(unsubs_opinion 컬럼 추가)
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/SubscriptionDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/command/UpdateDeletedAtInWorkbookSubscriptionCommand.kt
  api/src/main/kotlin/com/few/api/domain/subscription/UnsubscribeWorkbookUseCase.kt
  data/db/migration/entity/v1.00.0.1__add_column.sql
Labels: feature, infra

#78 refactor: 삭제되지 않은 결과 조회를 위해 isNull 조건 추가
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/MemberDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/ProblemDao.kt
Labels: refactor

#67 feat: 이메일 전송 모듈 구성 및 Sender 구현
  email/build.gradle.kts
  email/src/main/kotlin/com/few/email/config/MailConfig.kt
  email/src/main/kotlin/com/few/email/config/MailSenderConfig.kt
  email/src/main/kotlin/com/few/email/config/ThymeleafConfig.kt
  email/src/main/kotlin/com/few/email/sender/SendEmailSender.kt
  email/src/main/kotlin/com/few/email/sender/dto/SendMailArgs.kt
  email/src/main/kotlin/com/few/email/service/article/SendArticleEmailService.kt
  email/src/main/kotlin/com/few/email/service/article/dto/SendArticleEmailArgs.kt
  email/src/main/resources/application-email-local.yml
  email/src/main/resources/application-email-prd.yml
  email/src/test/kotlin/com/few/email/service/SendAEmailTestSpec.kt
  email/src/test/kotlin/com/few/email/service/article/SendArticleEmailServiceTest.kt
  email/src/test/resources/application-email-test.yml
  email/src/test/resources/templates/test.html
  settings.gradle.kts
Labels: config, feature

#82 feat: 아티클 이메일 전송 배치 구현
  api/build.gradle.kts
  api/src/main/kotlin/com/few/api/config/ApiConfig.kt
  api/src/main/kotlin/com/few/api/web/controller/batch/BatchController.kt
  batch/build.gradle.kts
  batch/src/main/kotlin/com/few/batch/config/BatchConfig.kt
  batch/src/main/kotlin/com/few/batch/log/BatchCallExecutionService.kt
  batch/src/main/kotlin/com/few/batch/log/BatchServiceLogAspect.kt
  batch/src/main/kotlin/com/few/batch/service/article/BatchSendArticleEmailService.kt
  batch/src/main/kotlin/com/few/batch/service/article/dto/WorkBookSubscriberItem.kt
  batch/src/main/kotlin/com/few/batch/service/article/reader/WorkBookSubscriberReader.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriter.kt
  batch/src/test/kotlin/com/few/batch/BatchTestContainerInitializer.kt
  batch/src/test/kotlin/com/few/batch/BatchTestDataSourceConfig.kt
  batch/src/test/kotlin/com/few/batch/BatchTestFlywayConfig.kt
  batch/src/test/kotlin/com/few/batch/BatchTestSpec.kt
  batch/src/test/kotlin/com/few/batch/log/BatchCallExecutionServiceTest.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriterTest.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriterTestSetHelper.kt
  batch/src/test/resources/application-test.yml
  batch/src/test/resources/docker-compose.yml
  batch/src/test/resources/mysql-init.d/00_init.sql
  data/db/migration/entity/V1.00.0.2__add_subscription_progress.sql
  data/db/migration/entity/V1.00.0.3__batch_call_execution_table.sql
  email/src/main/kotlin/com/few/email/sender/dto/SendMailArgs.kt
  settings.gradle.kts
Labels: config, feature

#100 feat: application.yml에 email 관련 설정 추가
  api/src/main/resources/application.yml
Labels: feature

#103 [Feat/#93] MemberType 정의 및 구독시 멤버 저장 과정 추가
  api-repo/build.gradle.kts
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/MemberDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/command/InsertMemberCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/query/SelectMemberByEmailQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/record/MemberRecord.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/MemberService.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/dto/InsertMemberDto.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/dto/ReadMemberIdDto.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeAllUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/in/SubscribeWorkbookUseCaseIn.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/SubscriptionController.kt
  batch/.gitignore
  data/src/main/kotlin/com/few/data/common/code/MemberType.kt
Labels: feature

#109 #95 feat: ci 액션 구축 및 배포간 오류 수정
  .github/workflows/code-ci.yml
  .github/workflows/integration-test.yml
  api/Dockerfile
  api/build.gradle.kts
  api/src/main/kotlin/com/few/api/config/ApiConfig.kt
  api/src/test/kotlin/com/few/api/web/controller/subscription/SubscriptionControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/WorkBookControllerTest.kt
  build.gradle.kts
  resources/docker/docker-compose-api.yml
  resources/docker/scripts/api-start
Labels: config, feature, script

#108 [feat#90] DTO validation 추가
  api/src/main/kotlin/com/few/api/web/controller/article/ArticleController.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/ProblemController.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/request/CheckProblemBody.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/SubscriptionController.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/request/SubscribeWorkbookRequest.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/request/UnsubscribeAllRequest.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/request/UnsubscribeWorkbookRequest.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/WorkBookController.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/article/WorkBookArticleController.kt
  api/src/main/resources/ValidationMessages.properties
  api/src/main/resources/application.yml
  data/db/migration/entity/V1.00.0.1__add_column.sql
Labels: feature

#118 [Refactor/#117] 배치 Writer 리펙토링
  batch/src/main/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriter.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriterTestSetHelper.kt
  email/src/main/resources/templates/article.html
Labels: refactor
