Repository YAPP-Github/24th-Web-Team-1-BE, pull requests merged in 2024-07, with the labels that each got.

#116 Fix/#115 : 배포 과정에서 발견한 오류 수정
  .github/workflows/batch-cron.yml
  .github/workflows/code-ci.yml
  .github/workflows/integration-test.yml
  api-repo/build.gradle.kts
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/MemberDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/record/MemberIdRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/support/WriterDescriptionMapper.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/ProblemDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/support/ContentsJsonMapper.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/support/ContentsMapper.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/workbook/WorkbookDao.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/article/ArticleDaoTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/member/support/WriterDescriptionMapperTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/problem/ProblemDaoTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/problem/support/ContentsJsonMapperTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/problem/support/ContentsMapperTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/workbook/WorkbookDaoTest.kt
  api/build.gradle.kts
  api/src/main/kotlin/com/few/api/config/ApiConfig.kt
  api/src/main/kotlin/com/few/api/domain/article/service/BrowseArticleProblemsService.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/CheckProblemUseCase.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/ReadProblemUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/MemberService.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeAllUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/article/usecase/ReadWorkBookArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/ReadWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/web/config/WebConfig.kt
  api/src/main/resources/application.yml
  batch/build.gradle.kts
  batch/src/main/kotlin/com/few/batch/service/article/BatchSendArticleEmailService.kt
  build.gradle.kts
  data/db/migration/entity/V1.00.0.0__draft_table_design.sql
  data/db/migration/entity/V1.00.0.1__add_column.sql
  data/db/migration/entity/V1.00.0.2__add_subscription_progress.sql
  data/db/migration/entity/V1.00.0.3__batch_call_execution_table.sql
  email/src/main/resources/application-email-local.yml
  email/src/test/resources/application-test.yml
Labels: config, fix

#123 [Feat/#97] 이미지 API 구현
  api-repo/src/main/kotlin/com/few/api/repo/dao/image/ImageDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/image/command/InsertImageIfoCommand.kt
  api/build.gradle.kts
  api/src/main/kotlin/com/few/api/config/ApiConfig.kt
  api/src/main/kotlin/com/few/api/domain/image/dto/PutImageUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/image/dto/PutImageUseCaseOut.kt
  api/src/main/kotlin/com/few/api/domain/image/service/GetUrlService.kt
  api/src/main/kotlin/com/few/api/domain/image/service/dto/GetUrlQuery.kt
  api/src/main/kotlin/com/few/api/domain/image/usecase/PutImageUseCase.kt
  api/src/main/kotlin/com/few/api/web/controller/image/ImageController.kt
  api/src/main/kotlin/com/few/api/web/controller/image/request/ImageSourceRequest.kt
  api/src/main/kotlin/com/few/api/web/controller/image/response/ImageSourceResponse.kt
  api/src/main/resources/application.yml
  api/src/test/kotlin/com/few/api/web/controller/image/ImageControllerTest.kt
  api/src/test/resources/application-test.yml
  api/src/test/resources/docker-compose.yml
  buildSrc/src/main/kotlin/DependencyVersion.kt
  data/db/migration/entity/V1.00.0.4__image_ifo_table.sql
  resources/docker/docker-compose-api.yml
  resources/local-develop-environment/docker-compose.yml
  settings.gradle.kts
  storage/build.gradle.kts
  storage/src/main/kotlin/com/few/storage/config/ClientConfig.kt
  storage/src/main/kotlin/com/few/storage/image/client/ImageStoreClient.kt
  storage/src/main/kotlin/com/few/storage/image/client/S3ImageStoreClient.kt
  storage/src/main/kotlin/com/few/storage/image/client/dto/ImageObjectArgs.kt
  storage/src/main/kotlin/com/few/storage/image/client/dto/ImageWriteResponse.kt
  storage/src/main/kotlin/com/few/storage/image/client/util/ImageArgsGenerator.kt
  storage/src/main/kotlin/com/few/storage/image/config/ImageStorageConfig.kt
  storage/src/main/kotlin/com/few/storage/image/config/S3ImageStoreConfig.kt
  storage/src/main/kotlin/com/few/storage/image/service/GetPreSignedImageUrlService.kt
  storage/src/main/kotlin/com/few/storage/image/service/PutImageService.kt
  storage/src/main/kotlin/com/few/storage/image/service/RemoveImageService.kt
  storage/src/main/kotlin/com/few/storage/image/service/s3/S3GetPreSignedImageUrlService.kt
  storage/src/main/kotlin/com/few/storage/image/service/s3/S3PutImageService.kt
  storage/src/main/kotlin/com/few/storage/image/service/s3/S3RemoveImageService.kt
  storage/src/main/kotlin/com/few/storage/image/service/support/CdnProperty.kt
  storage/src/main/resources/application-storage-local.yml
  storage/src/main/resources/application-storage-prd.yml
Labels: config, feature

#128 [Refactor/#120] 구독해지 후 구독하는 경우 고려하여 구독 API 수정
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/SubscriptionDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/CountWorkbookMappedArticlesQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/CountWorkbookSubscriptionQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/SelectAllWorkbookSubscriptionStatusQueryNotConsiderDeletedAt.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/record/WorkbookSubscriptionStatus.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCase.kt
Labels: refactor

#147 [#146/ fix ] batch-cron 실행 오류 수정
  .github/workflows/batch-cron.yml
Labels: fix

#163 [#162/Fix] batch-cron 삭제
  .github/workflows/batch-cron.yml
Labels: fix

#166 [#165/refactor]: article 배치 실행 api에 인증 추가
  api/src/main/kotlin/com/few/api/web/controller/batch/BatchController.kt
  api/src/main/resources/application.yml
Labels: refactor

#154 [Refactor/#151] 배치 기록 값 수정 및 추가
  batch/src/main/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriter.kt
Labels: refactor

#156 [Feat/#131] 이메일 구독 내용 채워서 구현
  batch/src/main/kotlin/com/few/batch/data/common/code/BatchCategoryType.kt
  batch/src/main/kotlin/com/few/batch/data/common/code/BatchMemberType.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriter.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriterTest.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriterTestSetHelper.kt
  data/src/main/kotlin/com/few/data/common/code/CategoryType.kt
  data/src/main/kotlin/com/few/data/common/code/MemberType.kt
  email/src/main/kotlin/com/few/email/sender/dto/SendMailArgs.kt
  email/src/main/kotlin/com/few/email/service/article/SendArticleEmailService.kt
  email/src/main/kotlin/com/few/email/service/article/dto/SendArticleEmailArgs.kt
  email/src/main/resources/templates/article.html
  email/src/test/kotlin/com/few/email/service/article/SendArticleEmailServiceTest.kt
Labels: feature

#157 [Feat/#155] 아티클 아이디로 문제 조회하는 API 구현
  api/src/main/kotlin/com/few/api/domain/problem/usecase/BrowseProblemsUseCase.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/in/BrowseProblemsUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/out/BrowseProblemsUseCaseOut.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/ProblemController.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/response/BrowseProblemsResponse.kt
  api/src/test/kotlin/com/few/api/web/controller/problem/ProblemControllerTest.kt
Labels: feature

#160 [Feat/#149] 로깅 API 구현
  api-repo/src/main/kotlin/com/few/api/repo/dao/log/LogIfoDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/log/command/InsertLogCommand.kt
  api/src/main/kotlin/com/few/api/domain/log/AddApiLogUseCase.kt
  api/src/main/kotlin/com/few/api/domain/log/dto/AddApiLogUseCaseIn.kt
  api/src/main/kotlin/com/few/api/web/controller/admin/ApiLogController.kt
  api/src/main/kotlin/com/few/api/web/controller/admin/request/ApiLogRequest.kt
  api/src/test/kotlin/com/few/api/web/controller/admin/ApiLogControllerTest.kt
  data/db/migration/entity/V1.00.0.6__log_ifo_table.sql
Labels: feature

#164 [Feat/#135] 로그 모니터링 환경 구축
  api/src/main/resources/logback-spring.xml
  resources/docker/docker-compose-api.yml
Labels: feature

#144 [Refactor/#143] 어드민 API 요구사항 반영 및 오류 수정
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/ProblemDao.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/dto/AddArticleUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/AddArticleUseCase.kt
  api/src/main/kotlin/com/few/api/web/config/WebConfig.kt
  api/src/main/kotlin/com/few/api/web/controller/admin/AdminController.kt
  api/src/main/kotlin/com/few/api/web/controller/admin/request/AddArticleRequest.kt
  api/src/main/resources/ValidationMessages.properties
  api/src/test/kotlin/com/few/api/web/controller/admin/AdminControllerTest.kt
  data/src/main/kotlin/com/few/data/common/code/CategoryType.kt
  email/src/main/resources/templates/article.html
  resources/docker/scripts/api-start
  storage/src/main/kotlin/com/few/storage/document/service/ConvertDocumentService.kt
Labels: config, refactor, script

#153 [Fix/#150] image 저장시 contentType이 재대로 지정되지 않는 문제 해결
  storage/src/main/kotlin/com/few/storage/image/client/dto/ImageObjectArgs.kt
  storage/src/main/kotlin/com/few/storage/image/client/util/ImageArgsGenerator.kt
Labels: fix

#167 [Feat/#68] 예외 및 응답코드 표준화 & 적용
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/MemberDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/SubmitHistoryDao.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/member/MemberDaoTest.kt
  api/src/main/kotlin/com/few/api/config/MessageSourceConfig.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/service/GetUrlService.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/AddArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/AddWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/ConvertContentUseCase.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/PutImageUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/service/BrowseArticleProblemsService.kt
  api/src/main/kotlin/com/few/api/domain/article/service/ReadArticleWriterRecordService.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/BrowseProblemsUseCase.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/CheckProblemUseCase.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/ReadProblemUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/event/WorkbookSubscriptionEventListener.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/MemberService.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeAllUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/article/usecase/ReadWorkBookArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/ReadWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/exception/common/ExternalIntegrationException.kt
  api/src/main/kotlin/com/few/api/exception/common/InsertException.kt
  api/src/main/kotlin/com/few/api/exception/common/NotFoundException.kt
  api/src/main/kotlin/com/few/api/exception/subscribe/SubscribeIllegalArgumentException.kt
  api/src/main/kotlin/com/few/api/exception/support/MessageSourceAccessor.kt
  api/src/main/kotlin/com/few/api/web/config/WebConfig.kt
  api/src/main/kotlin/com/few/api/web/controller/problem/ProblemController.kt
  api/src/main/kotlin/com/few/api/web/filter/MDCFilter.kt
  api/src/main/kotlin/com/few/api/web/handler/ApiControllerExceptionHandler.kt
  api/src/main/kotlin/com/few/api/web/handler/LoggingHandler.kt
  api/src/main/resources/messages/article.properties
  api/src/main/resources/messages/document.properties
  api/src/main/resources/messages/external.properties
  api/src/main/resources/messages/image.properties
  api/src/main/resources/messages/member.properties
  api/src/main/resources/messages/problem.properties
  api/src/main/resources/messages/submit.properties
  api/src/main/resources/messages/subscribe.properties
  api/src/main/resources/messages/workbook.properties
  batch/src/main/kotlin/com/few/batch/data/common/code/BatchCategoryType.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriter.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriterTest.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriterTestSetHelper.kt
  data/src/main/kotlin/com/few/data/common/code/CategoryType.kt
Labels: config, feature

#181 [Feat/#180] flyway sql 파일 gitignore 추가
  api/.gitignore
  data/.gitignore
  email/.gitignore
  storage/.gitignore
Labels: feature, refactor

#193 [#192/feat] wip 액션 추가
  .github/workflows/wip.yml
Labels: feature

#195 [#194/chore] 액션 Job 이름 수정
  .github/workflows/code-ci.yml
  .github/workflows/integration-test.yml
Labels: refactor

#191 [#190/refactor] 마지막 학습지를 받은 구독자 기록 추가
  batch/src/main/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriter.kt
Labels: refactor

#189 [Feat/#173] 디스코드 훅 비동기 처리 풀 설정
  api/src/main/kotlin/com/few/api/config/ApiConfig.kt
  api/src/main/kotlin/com/few/api/config/ApiThreadPoolConfig.kt
  api/src/main/kotlin/com/few/api/config/properties/ThreadPoolProperties.kt
  api/src/main/kotlin/com/few/api/domain/subscription/event/WorkbookSubscriptionEventListener.kt
  api/src/main/kotlin/com/few/api/exception/properties/NotSetPropertyException.kt
  api/src/main/resources/application-client-local.yml
  api/src/main/resources/application-client-prd.yml
  api/src/test/resources/application-test.yml
Labels: config, feature

#187 [Fix#186] Java 컴파일 버전 및 컨테이너 설치 버전 일치
  build.gradle.kts
Labels: fix, refactor

#201 [#199/Refactor] 이메일 전송시 중복되는 값 자료형 발견하여 수정
  batch/src/main/kotlin/com/few/batch/service/article/dto/WorkBookSubscriberItem.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriter.kt
Labels: refactor

#202 [#198/fix] in의 잘못된 사용으로 마지막 학습지를 받지 않은 구독자들도 구독을 해지하는 문제 해결
  batch/src/main/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriter.kt
Labels: fix

#188 [Feat/#89] hikariCP config 1차 조정
  api-repo/src/main/kotlin/com/few/api/repo/datasource/DataSourceConfig.kt
  api-repo/src/main/resources/application-api-repo-local.yml
  api-repo/src/main/resources/application-api-repo-prd.yml
  api-repo/src/test/resources/application-test.yml
  api/src/test/resources/application-test.yml
  batch/src/test/resources/application-test.yml
Labels: feature, infra

#197 [Feat/#124] kotlin-logger 적용
  api/src/main/kotlin/com/few/api/client/subscription/SubscriptionClient.kt
  api/src/main/kotlin/com/few/api/config/ApiThreadPoolConfig.kt
  api/src/main/kotlin/com/few/api/web/filter/MDCFilter.kt
  api/src/main/kotlin/com/few/api/web/handler/LoggingHandler.kt
  api/src/main/resources/banner.txt
  api/src/test/kotlin/com/few/api/web/controller/ControllerTestContainerInitializer.kt
  batch/src/main/kotlin/com/few/batch/log/BatchServiceLogAspect.kt
  build.gradle.kts
  buildSrc/src/main/kotlin/DependencyVersion.kt
  storage/src/main/kotlin/com/few/storage/document/client/S3DocumentStoreClient.kt
  storage/src/main/kotlin/com/few/storage/document/config/S3DocumentStoreConfig.kt
  storage/src/main/kotlin/com/few/storage/image/client/S3ImageStoreClient.kt
  storage/src/main/kotlin/com/few/storage/image/config/S3ImageStoreConfig.kt
Labels: config, feature, refactor

#213 [#212/fix] 이메일 템플릿 잘못된 사진 교체
  email/src/main/resources/templates/article.html
Labels: fix

#204 [Test/#145] UseCase 단위 테스트 구현
  api/src/test/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/problem/usecase/BrowseProblemsUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/problem/usecase/CheckProblemUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/problem/usecase/ReadProblemUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/workbook/usecase/ReadWorkbookUseCaseTest.kt
Labels: test

#219 [#218/refactor] 이메일 제목이 긴 경우 문제 해결한 템플릿 반영
  email/src/main/resources/templates/article.html
Labels: refactor

#216 [Feat/#215] article_view_his 테이블 추가 및 조회수 응답 추가
  .gitignore
  api-repo/.gitignore
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleViewHisDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/command/ArticleViewHisCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/query/ArticleViewHisCountQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/ProblemDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/SubmitHistoryDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/SubscriptionDao.kt
  api/.gitignore
  api/src/main/kotlin/com/few/api/config/DatabaseAccessThreadPoolConfig.kt
  api/src/main/kotlin/com/few/api/domain/article/handler/ArticleViewHisAsyncHandler.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/dto/ReadArticleUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/dto/ReadArticleUseCaseOut.kt
  api/src/main/kotlin/com/few/api/web/controller/article/ArticleController.kt
  api/src/main/kotlin/com/few/api/web/controller/article/response/ReadArticleResponse.kt
  api/src/main/resources/application-client-local.yml
  api/src/main/resources/application-client-prd.yml
  api/src/test/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCaseTest.kt
  api/src/test/kotlin/com/few/api/web/controller/article/ArticleControllerTest.kt
  api/src/test/resources/application-test.yml
  batch/.gitignore
  data/.gitignore
  data/db/migration/entity/V1.00.0.7__article_view_his_table.sql
  email/.gitignore
  storage/.gitignore
Labels: config, feature, infra

#217 [#159/refactor] 복합인덱스 순서 변경
  data/db/migration/entity/V1.00.0.10__drop_subscription_unique_key.sql
  data/db/migration/entity/V1.00.0.11__add_mapping_member_workbook_pk.sql
  data/db/migration/entity/V1.00.0.12__add_mapping_workbook_article_pk.sql
  data/db/migration/entity/V1.00.0.13__add_subscription_unique_key.sql
  data/db/migration/entity/V1.00.0.8__drop_mapping_member_workbook_pk.sql
  data/db/migration/entity/V1.00.0.9__drop_mapping_workbook_article_pk.sql
Labels: refactor

#220 [#214/refactor] gradle 디펜던시 점검
  api-repo/build.gradle.kts
  api/build.gradle.kts
  build.gradle.kts
  email/build.gradle.kts
  storage/build.gradle.kts
  storage/src/main/kotlin/com/few/storage/image/client/util/ImageArgsGenerator.kt
Labels: refactor

#226 [Feat/#224] 로컬 캐시(EHCache) 도입 및 게시글 단건 데이터 캐시 적용
  api-repo/build.gradle.kts
  api-repo/src/main/kotlin/com/few/api/repo/common/LocalCacheEventLogger.kt
  api-repo/src/main/kotlin/com/few/api/repo/config/LocalCacheConfig.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/record/SelectArticleRecord.kt
  buildSrc/src/main/kotlin/DependencyVersion.kt
Labels: config, feature, refactor

#223 [Feat/#221] 아티클 조회수 저장 방식 및 조회 방식 개선
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleViewCountDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/command/ArticleViewCountCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/query/ArticleViewCountQuery.kt
  api/src/main/kotlin/com/few/api/domain/article/handler/ArticleViewCountHandler.kt
  api/src/main/kotlin/com/few/api/domain/article/handler/ArticleViewHisAsyncHandler.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCase.kt
  api/src/main/resources/messages/article.properties
  api/src/test/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCaseTest.kt
  data/db/migration/entity/V1.00.0.14__manage_article_view_count.sql
Labels: feature, refactor, DB

#231 [Fix/#230] ArticleViewCountDao Jooq 의존성 수정
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleViewCountDao.kt
  api/src/main/kotlin/com/few/api/domain/article/handler/ArticleViewHisAsyncHandler.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCase.kt
Labels: fix

#234 [Fix/#233] addArticleViewHis에서 runCatching 후 예외 발생시 트랜잭션 롤백되도록 수정
  api/src/main/kotlin/com/few/api/domain/article/handler/ArticleViewHisAsyncHandler.kt
Labels: fix

#258 [Test/#250] Article 목록조회(무한스크롤) Mock API 구현 (RE)
  api/src/main/kotlin/com/few/api/domain/article/handler/ArticleViewHisAsyncHandler.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticlesUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/dto/ReadArticleUseCaseOut.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/dto/ReadArticlesUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/dto/ReadArticlesUseCaseOut.kt
  api/src/main/kotlin/com/few/api/web/controller/article/ArticleController.kt
  api/src/main/kotlin/com/few/api/web/controller/article/response/ReadArticleResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/article/response/ReadArticlesResponse.kt
  api/src/test/kotlin/com/few/api/web/controller/article/ArticleControllerTest.kt
Labels: feature

#246 [Feat/#238] 워크북 데이터 베이스 케시 설정
  api-repo/src/main/kotlin/com/few/api/repo/config/LocalCacheConfig.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/MemberCacheManager.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/MemberDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/workbook/WorkBookCacheManager.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/workbook/WorkbookDao.kt
Labels: config, feature

#253 [Feat/#239] 메인 워크북 API 스펙 정의
  api/src/main/kotlin/com/few/api/web/config/WebConfig.kt
  api/src/main/kotlin/com/few/api/web/config/converter/ViewConverter.kt
  api/src/main/kotlin/com/few/api/web/config/converter/WorkBookCategoryConverter.kt
  api/src/main/kotlin/com/few/api/web/controller/member/MemberController.kt
  api/src/main/kotlin/com/few/api/web/controller/member/request/SaveMemberRequest.kt
  api/src/main/kotlin/com/few/api/web/controller/member/response/SaveMemberResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/member/response/TokenResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/SubscriptionController.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/response/SubscribeWorkbooksResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/WorkBookController.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/response/BrowseWorkBooksResponse.kt
  api/src/main/kotlin/com/few/api/web/support/ViewCategory.kt
  api/src/main/kotlin/com/few/api/web/support/WorkBookCategory.kt
  api/src/main/resources/logback-spring.xml
  api/src/test/kotlin/com/few/api/web/controller/member/MemberControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/subscription/SubscriptionControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/WorkBookControllerTest.kt
Labels: config, feature

#254 [Test/#248] 실행 계획 문서 생성 테스트
  .github/workflows/sql-explain-hook.yml
  api-repo/build.gradle.kts
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleViewCountDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleViewHisDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/MemberDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/ProblemDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/problem/SubmitHistoryDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/SubscriptionDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/workbook/WorkbookDao.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/InsertUpdateExplainGenerator.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/ResultGenerator.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/article/ArticleDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/article/ArticleViewCountDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/article/ArticleViewHisDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/member/MemberDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/problem/ProblemDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/subscription/SubscriptionDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/workbook/WorkbookDaoExplainGenerateTest.kt
Labels: test

#237 [Refactor/#235] jooq 관련 수정
  api-repo/build.gradle.kts
  api-repo/src/main/kotlin/com/few/api/repo/common/ExceptionTranslator.kt
  api-repo/src/main/kotlin/com/few/api/repo/common/NativeSQLLogger.kt
  api-repo/src/main/kotlin/com/few/api/repo/common/PerformanceListener.kt
  api-repo/src/main/kotlin/com/few/api/repo/common/SlowQueryEvent.kt
  api-repo/src/main/kotlin/com/few/api/repo/config/JooqConfig.kt
  api-repo/src/test/kotlin/com/few/api/repo/jooq/_SampleJooqTest.kt
  api/build.gradle.kts
  api/src/main/kotlin/com/few/api/client/repo/RepoClient.kt
  api/src/main/kotlin/com/few/api/client/repo/dto/RepoAlterArgs.kt
  api/src/main/kotlin/com/few/api/client/repo/event/SlowQueryEventListener.kt
  api/src/main/kotlin/com/few/api/config/ApiThreadPoolConfig.kt
  api/src/main/kotlin/com/few/api/config/ClonedTaskDecorator.kt
  batch/build.gradle.kts
  build.gradle.kts
  buildSrc/src/main/kotlin/DependencyVersion.kt
Labels: config, refactor

#256 [Feat/#255] 시큐리티 구현
  api/build.gradle.kts
  api/src/main/kotlin/com/few/api/security/authentication/authority/Roles.kt
  api/src/main/kotlin/com/few/api/security/authentication/authority/UserAuthority.kt
  api/src/main/kotlin/com/few/api/security/authentication/token/TokenAuthProvider.kt
  api/src/main/kotlin/com/few/api/security/authentication/token/TokenUserDetails.kt
  api/src/main/kotlin/com/few/api/security/authentication/token/TokenUserDetailsService.kt
  api/src/main/kotlin/com/few/api/security/config/CorsConfigurationSourceProperties.kt
  api/src/main/kotlin/com/few/api/security/config/WebSecurityConfig.kt
  api/src/main/kotlin/com/few/api/security/context/TokenAuditHolder.kt
  api/src/main/kotlin/com/few/api/security/exception/AccessTokenInvalidException.kt
  api/src/main/kotlin/com/few/api/security/filter/exception/TokenInvalidExceptionHandlerFilter.kt
  api/src/main/kotlin/com/few/api/security/filter/token/AccessTokenResolver.kt
  api/src/main/kotlin/com/few/api/security/filter/token/TokenAuthenticationFilter.kt
  api/src/main/kotlin/com/few/api/security/handler/DelegatedAccessDeniedHandler.kt
  api/src/main/kotlin/com/few/api/security/handler/DelegatedAuthenticationEntryPoint.kt
  api/src/main/kotlin/com/few/api/security/token/AuthToken.kt
  api/src/main/kotlin/com/few/api/security/token/TokenGenerator.kt
  api/src/main/kotlin/com/few/api/security/token/TokenResolver.kt
  api/src/main/resources/application-security-local.yml
  api/src/main/resources/application-security-prd.yml
  api/src/main/resources/application.yml
  api/src/test/resources/application-test.yml
  buildSrc/src/main/kotlin/DependencyVersion.kt
Labels: config, feature

#259 [Feat/#228] 아티클 목록 조회(무한스크롤) API 추가
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleMainCardDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleViewCountDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/query/SelectArticlesOrderByViewsQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/query/SelectRankByViewsQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/record/ArticleMainCardRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/record/SelectArticleContentsRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/record/SelectArticleViewsRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/support/ArticleMainCardMapper.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/support/CommonJsonMapper.kt
  api-repo/src/main/resources/application-api-repo-local.yml
  api-repo/src/main/resources/application-api-repo-prd.yml
  api-repo/src/test/kotlin/com/few/api/repo/RepoTestContainerInitializer.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/article/ArticleDaoTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/member/MemberDaoTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/member/support/CommonJsonMapperTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/problem/ProblemDaoTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/jooq/_SampleJooqTest.kt
  api-repo/src/test/resources/application-test.yml
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/AddArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticlesUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/dto/ReadArticleUseCaseOut.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/dto/ReadArticlesUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/dto/ReadArticlesUseCaseOut.kt
  api/src/main/kotlin/com/few/api/web/controller/article/ArticleController.kt
  api/src/main/kotlin/com/few/api/web/controller/article/response/ReadArticleResponse.kt
  api/src/test/kotlin/com/few/api/web/controller/article/ArticleControllerTest.kt
  api/src/test/resources/application-test.yml
  batch/src/test/kotlin/com/few/batch/BatchTestContainerInitializer.kt
  batch/src/test/resources/application-test.yml
  data/db/migration/entity/V1.00.0.15__article_main_card_table.sql
Labels: feature

#267 [Test/#266] 아티클 목록 조회 컨트롤러 테스트 코드 수정
  api-repo/src/test/kotlin/com/few/api/repo/jooq/_SampleJooqTest.kt
  api/src/test/kotlin/com/few/api/web/controller/article/ArticleControllerTest.kt
Labels: test
