Repository YAPP-Github/24th-Web-Team-1-BE, pull requests merged in 2024-08, with the labels that each got.

#271 [Feat/#268] AWS 이전 작업
  .github/labeler.yml
  .github/workflows/ecs-cd.yml
  api/build.gradle.kts
  api/src/main/resources/logback-spring.xml
  storage/src/main/kotlin/com/few/storage/config/ClientConfig.kt
Labels: config, feature

#261 [Feat/#240] 메인 워크북 API 구현 - 워크북 API
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/MemberDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/query/BrowseWorkbookWritersQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/record/WriterRecordMappedWorkbook.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/workbook/WorkbookDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/workbook/query/BrowseWorkBookQueryWithSubscriptionCount.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/workbook/record/SelectWorkBookRecordWithSubscriptionCount.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/member/MemberDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/workbook/WorkbookDaoExplainGenerateTest.kt
  api/src/main/kotlin/com/few/api/domain/workbook/service/WorkbookMemberService.kt
  api/src/main/kotlin/com/few/api/domain/workbook/service/dto/BrowseWorkbookWriterRecordsInDto.kt
  api/src/main/kotlin/com/few/api/domain/workbook/service/dto/WriterMappedWorkbookOutDto.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/BrowseWorkbooksUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/dto/BrowseWorkbooksUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/dto/BrowseWorkbooksUseCaseOut.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/WorkBookController.kt
  api/src/test/kotlin/com/few/api/domain/workbook/usecase/BrowseWorkbooksUseCaseTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/WorkBookControllerTest.kt
Labels: feature, ⭐major⭐

#262 [Feat/#241] 메인 워크북 API 구현 - 회원 워크북 API
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/query/SelectArticleIdByWorkbookIdAndDayQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/SubscriptionDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/CountAllWorkbooksSubscription.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/SelectAllMemberWorkbookSubscriptionStatusNotConsiderDeletedAtQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/record/MemberWorkbookSubscriptionStatusRecord.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/article/ArticleDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/subscription/SubscriptionDaoExplainGenerateTest.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/SubscriptionArticleService.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/dto/ReadArticleIdByWorkbookIdAndDayDto.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/BrowseSubscribeWorkbooksUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/dto/BrowseSubscribeWorkbooksUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/dto/BrowseSubscribeWorkbooksUseCaseOut.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/SubscriptionController.kt
  api/src/main/kotlin/com/few/api/web/support/WorkBookStatus.kt
  api/src/test/kotlin/com/few/api/domain/subscription/usecase/BrowseSubscribeWorkbooksUseCaseTest.kt
  api/src/test/kotlin/com/few/api/web/controller/subscription/SubscriptionControllerTest.kt
Labels: feature

#278 fix: batch 요청이 되지 않는 문제 해결
  api/src/main/kotlin/com/few/api/security/config/WebSecurityConfig.kt
Labels: config, fix

#280 [Fix/#279] 아티클 main image url 필드 응답 추가
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticlesUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/dto/ReadArticleUseCaseOut.kt
  api/src/main/kotlin/com/few/api/web/controller/article/ArticleController.kt
  api/src/main/kotlin/com/few/api/web/controller/article/response/ReadArticleResponse.kt
  api/src/test/kotlin/com/few/api/web/controller/article/ArticleControllerTest.kt
Labels: fix

#282 [Fix/#281] 아티클 조회수 순 정렬시 옵션 추가(article최신순)
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleViewCountDao.kt
Labels: fix

#284 [Fix/#283] 아티클 개수가 10의 배수일 경우 마지막 스크롤에서 isLast=false로 응답되는 문제 해결
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleViewCountDao.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticlesUseCase.kt
  data/src/main/kotlin/com/few/data/common/code/CategoryType.kt
Labels: fix

#287 [Fix/#286] article 전체 카테고리 반영 SQL 수정
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleViewCountDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/query/SelectArticlesOrderByViewsQuery.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticlesUseCase.kt
Labels: fix

#273 [Feat/#272] 멤버 관련 API 구현
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/MemberDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/command/DeleteMemberCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/command/UpdateDeletedMemberTypeCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/command/UpdateMemberTypeCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/query/SelectMemberByEmailNotConsiderDeletedAtQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/record/MemberEmailAndTypeRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/record/MemberIdAndIsDeletedRecord.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/member/MemberDaoExplainGenerateTest.kt
  api/build.gradle.kts
  api/src/main/kotlin/com/few/api/config/ApiConfig.kt
  api/src/main/kotlin/com/few/api/config/crypto/Encryption.kt
  api/src/main/kotlin/com/few/api/config/crypto/IdEncryption.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/DeleteMemberUseCase.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/SaveMemberUseCase.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/TokenUseCase.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/dto/DeleteMemberUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/dto/DeleteMemberUseCaseOut.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/dto/SaveMemberUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/dto/SaveMemberUseCaseOut.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/dto/TokenUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/dto/TokenUseCaseOut.kt
  api/src/main/kotlin/com/few/api/exception/member/NotValidTokenException.kt
  api/src/main/kotlin/com/few/api/security/authentication/token/TokenUserDetails.kt
  api/src/main/kotlin/com/few/api/security/authentication/token/TokenUserDetailsService.kt
  api/src/main/kotlin/com/few/api/security/context/TokenAuditHolder.kt
  api/src/main/kotlin/com/few/api/security/token/AuthToken.kt
  api/src/main/kotlin/com/few/api/security/token/TokenGenerator.kt
  api/src/main/kotlin/com/few/api/security/token/TokenResolver.kt
  api/src/main/kotlin/com/few/api/web/controller/member/MemberController.kt
  api/src/main/kotlin/com/few/api/web/controller/member/request/TokenRequest.kt
  api/src/main/kotlin/com/few/api/web/handler/ApiControllerExceptionHandler.kt
  api/src/main/resources/application-security-local.yml
  api/src/main/resources/application-security-prd.yml
  api/src/main/resources/messages/member.properties
  api/src/test/kotlin/com/few/api/domain/member/usecase/SaveMemberUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/member/usecase/TokenUseCaseTest.kt
  api/src/test/kotlin/com/few/api/web/controller/member/MemberControllerTest.kt
  api/src/test/resources/application-test.yml
  data/src/main/kotlin/com/few/data/common/code/MemberType.kt
  email/src/main/kotlin/com/few/email/service/member/SendAuthEmailService.kt
  email/src/main/kotlin/com/few/email/service/member/dto/SendAuthEmailArgs.kt
  email/src/main/resources/templates/article.html
  email/src/main/resources/templates/auth.html
Labels: config, feature, resource

#288 [Refactor/#285] 워크북 정렬 문제 해결
  api/src/main/kotlin/com/few/api/domain/workbook/service/WorkbookSubscribeService.kt
  api/src/main/kotlin/com/few/api/domain/workbook/service/dto/BrowseMemberSubscribeWorkbooksInDto.kt
  api/src/main/kotlin/com/few/api/domain/workbook/service/dto/BrowseMemberSubscribeWorkbooksOutDto.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/BrowseWorkbooksUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/dto/BrowseWorkbooksUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/AuthMainViewWorkbookOrderDelegator.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/BasicWorkbookOrderDelegator.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/WorkbookOrderDelegator.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/service/WorkbookOrderDelegatorExecutor.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/WorkBookController.kt
  api/src/test/kotlin/com/few/api/domain/workbook/usecase/BrowseWorkbooksUseCaseTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/WorkBookControllerTest.kt
Labels: refactor

#289 [#242/Feat] 메인 워크북 API 구현 - 통합 API
  api/src/main/kotlin/com/few/api/web/controller/subscription/SubscriptionController.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/response/MainViewBrowseSubscribeWorkbooksResponse.kt
Labels: feature

#292 [Fix/#263] 아티클 목록 조회 API 개선: insert 쿼리 삭제 - 트랜잭션 간 불필요한 경합 문제 해결
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleMainCardDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/command/ArticleMainCardExcludeWorkbookCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/command/UpdateArticleMainCardWorkbookCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/support/ArticleMainCardMapper.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/MemberDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/record/MemberIdAndNameRecord.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/service/ArticleMainCardService.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/service/dto/AppendWorkbookToArticleMainCardInDto.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/service/dto/InitializeArticleMainCardInDto.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/AddArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/MapArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticlesUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/dto/ReadArticleUseCaseOut.kt
  api/src/main/kotlin/com/few/api/web/controller/article/response/ReadArticleResponse.kt
  api/src/main/resources/messages/article.properties
  data/src/main/kotlin/com/few/data/common/code/CategoryType.kt
Labels: fix, ⭐major⭐

#296 [#295/Chore] 메인뷰 카테고리 한글명 수정
  api/src/main/kotlin/com/few/api/web/support/WorkBookCategory.kt
Labels: refactor

#301 [Refactor/#300] 컨트롤러 인증 구현
  api/build.gradle.kts
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeAllUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/dto/SubscribeWorkbookUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/dto/UnsubscribeAllUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/dto/UnsubscribeWorkbookUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/workbook/article/dto/ReadWorkBookArticleUseCaseIn.kt
  api/src/main/kotlin/com/few/api/domain/workbook/article/usecase/ReadWorkBookArticleUseCase.kt
  api/src/main/kotlin/com/few/api/security/config/WebSecurityConfig.kt
  api/src/main/kotlin/com/few/api/security/filter/exception/TokenInvalidExceptionHandlerFilter.kt
  api/src/main/kotlin/com/few/api/security/token/TokenResolver.kt
  api/src/main/kotlin/com/few/api/web/controller/article/ArticleController.kt
  api/src/main/kotlin/com/few/api/web/controller/member/MemberController.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/SubscriptionController.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/request/UnsubscribeAllRequest.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/request/UnsubscribeWorkbookRequest.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/WorkBookController.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/article/WorkBookArticleController.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/article/response/ReadWorkBookArticleResponse.kt
  api/src/test/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCaseTest.kt
  api/src/test/kotlin/com/few/api/web/controller/TestTokenUserDetailsService.kt
  api/src/test/kotlin/com/few/api/web/controller/article/ArticleControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/subscription/SubscriptionControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/WorkBookControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/article/WorkBookArticleControllerTest.kt
Labels: config, refactor

#299 [Feat/#293] 작가 description json 필드 추가 - imageUrl(required)
  .gitignore
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleMainCardDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/command/ArticleMainCardExcludeWorkbookCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/record/ArticleMainCardRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/support/ArticleMainCardMapper.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/MemberDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/record/MemberIdAndNameRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/record/MemberRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/record/WriterRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/support/WriterDescription.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/member/MemberDaoTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/dao/member/support/CommonJsonMapperTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/member/MemberDaoExplainGenerateTest.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/service/ArticleMainCardService.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/service/dto/InitializeArticleMainCardInDto.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/AddArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/service/ReadArticleWriterRecordService.kt
  api/src/main/kotlin/com/few/api/domain/article/service/dto/ReadWriterOutDto.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticlesUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/dto/ReadArticleUseCaseOut.kt
  api/src/main/kotlin/com/few/api/web/controller/article/ArticleController.kt
  api/src/main/kotlin/com/few/api/web/controller/article/response/ReadArticleResponse.kt
  api/src/test/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCaseTest.kt
  api/src/test/kotlin/com/few/api/web/controller/article/ArticleControllerTest.kt
Labels: feature

#302 [#298/refactor]: 가입/인증에 따라 다른 내용 채워서 이메일 보내도록 수정
  api/src/main/kotlin/com/few/api/domain/member/usecase/SaveMemberUseCase.kt
  email/src/main/kotlin/com/few/email/service/member/SendAuthEmailService.kt
  email/src/main/kotlin/com/few/email/service/member/dto/SendAuthEmailArgs.kt
  email/src/main/resources/templates/auth.html
Labels: refactor

#304 [Chore/#303] 단순 이메일 스타일 변경입니다.
  email/src/main/resources/templates/auth.html
Labels: config

#306 [Refactor/#305] 액션 개선 및 수정
  .github/workflows/code-ci.yml
  .github/workflows/ecs-cd.yml
  .github/workflows/ecs-dev-cd.yml
  .github/workflows/sql-explain-hook.yml
  .github/workflows/validate-test.yml
Labels: refactor

#307 [Refactor/#276] 로그 중복으로 보이는 문제 해결
  api/src/main/resources/logback-spring.xml
Labels: config, refactor

#309 [Fix/#308]: 시큐리티 필터 파싱 오류 해결
  api/src/main/kotlin/com/few/api/security/authentication/token/TokenUserDetailsService.kt
Labels: fix

#311 [Feat/#310] 이미지 Webp 변환 코드 구현
  api/build.gradle.kts
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/PutImageUseCase.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/dto/PutImageUseCaseOut.kt
  api/src/main/kotlin/com/few/api/web/controller/admin/AdminController.kt
  api/src/main/kotlin/com/few/api/web/controller/admin/response/ImageSourceResponse.kt
  api/src/test/kotlin/com/few/api/web/controller/admin/AdminControllerTest.kt
  buildSrc/src/main/kotlin/DependencyVersion.kt
Labels: feature

#316 [Fix/#315] 멤버의 구독 정보 제공을 위한 조회시 취소를 구분하지 않은 문제 해결
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/SubscriptionDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/SelectAllMemberWorkbookSubscriptionStatusNotConsiderDeletedAtQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/SelectAllMemberWorkbookSubscriptionStatusUnsubOpinionConditionAndNotConsiderDeletedAQuery.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/subscription/SubscriptionDaoExplainGenerateTest.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/BrowseSubscribeWorkbooksUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeAllUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/service/WorkbookSubscribeService.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/SubscriptionController.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/request/SubscribeWorkbookRequest.kt
  api/src/test/kotlin/com/few/api/web/controller/subscription/SubscriptionControllerTest.kt
Labels: fix

#318 [#317/Refactor] 시큐리티 필터 제외 목록 점검 및 수정
  api/src/main/kotlin/com/few/api/security/config/WebSecurityConfig.kt
Labels: config, refactor

#323 [Fix/#322] 멤버 구독 정보 조회 수정
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/SubscriptionDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/SelectAllMemberWorkbookActiveSubscription.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/SelectAllMemberWorkbookInActiveSubscription.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/SelectAllMemberWorkbookSubscriptionStatusUnsubOpinionConditionAndNotConsiderDeletedAQuery.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/subscription/SubscriptionDaoExplainGenerateTest.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/BrowseSubscribeWorkbooksUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/service/WorkbookSubscribeService.kt
  api/src/test/kotlin/com/few/api/domain/subscription/usecase/BrowseSubscribeWorkbooksUseCaseTest.kt
Labels: fix

#326 [#325/Refactor] Validate Test 동작 조건 수정
  .github/workflows/validate-test.yml
Labels: refactor

#324 [#321/Fix] 완료된 구독 기록을 갱신하는 문제 해결
  batch/src/main/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriter.kt
Labels: fix

#327 [Refactor/#209] 테스트 컨테이너 및 액션 개선
  .github/workflows/code-ci.yml
  .github/workflows/ecs-cd.yml
  .github/workflows/ecs-dev-cd.yml
  .github/workflows/lint.yml
  .github/workflows/sql-explain-hook.yml
  .github/workflows/validate-test.yml
  api-repo/src/test/resources/application-test.yml
  api-repo/src/test/resources/docker-compose.yml
  api/src/test/kotlin/com/few/api/web/controller/ControllerTestSpec.kt
  api/src/test/kotlin/com/few/api/web/controller/admin/AdminControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/admin/ApiLogControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/article/ArticleControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/member/MemberControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/problem/ProblemControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/subscription/SubscriptionControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/WorkBookControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/article/WorkBookArticleControllerTest.kt
  api/src/test/resources/application-test.yml
  api/src/test/resources/docker-compose.yml
  batch/src/test/kotlin/com/few/batch/BatchTestSpec.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriterTest.kt
  batch/src/test/resources/application-test.yml
  batch/src/test/resources/docker-compose.yml
  build.gradle.kts
Labels: refactor

#334 [Fix/#333] main-dev 연결을 위한 이슈
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/SelectAllMemberWorkbookSubscriptionStatusUnsubOpinionConditionAndNotConsiderDeletedAQuery.kt
Labels: fix

#330 [Refactor/#329] 테스트 코드 보강 및 개선
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleMainCardDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/SubscriptionDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/workbook/WorkbookDao.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/article/ArticleDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/article/ArticleMainCardDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/article/ArticleViewCountDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/member/MemberDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/subscription/SubscriptionDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/workbook/WorkbookDaoExplainGenerateTest.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/TokenUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/BrowseSubscribeWorkbooksUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeAllUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/BrowseWorkbooksUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/BasicWorkbookOrderDelegator.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/MemberSubscribedWorkbook.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/WorkBook.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/model/WorkbookOrderDelegator.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/service/WorkbookOrderDelegatorExecutor.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/service/order/AuthMainViewWorkbookOrderDelegator.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/service/order/BasicWorkbookOrderDelegator.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/service/order/WorkbookOrderDelegator.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/service/order/WorkbookOrderDelegatorExecutor.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/response/ReadWorkBookResponse.kt
  api/src/main/resources/messages/article.properties
  api/src/test/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/member/usecase/SaveMemberUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/member/usecase/TokenUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/problem/usecase/BrowseProblemsUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/problem/usecase/CheckProblemUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/problem/usecase/ReadProblemUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/subscription/usecase/BrowseSubscribeWorkbooksUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeAllUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/subscription/usecase/UnsubscribeWorkbookUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/workbook/usecase/BrowseWorkbooksUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/workbook/usecase/ReadWorkbookUseCaseTest.kt
  api/src/test/kotlin/com/few/api/domain/workbook/usecase/service/order/AuthMainViewWorkbookOrderDelegatorTest.kt
  api/src/test/kotlin/com/few/api/web/controller/ControllerTestSpec.kt
  api/src/test/kotlin/com/few/api/web/controller/admin/AdminControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/admin/ApiLogControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/article/ArticleControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/member/MemberControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/problem/ProblemControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/subscription/SubscriptionControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/WorkBookControllerTest.kt
  api/src/test/kotlin/com/few/api/web/controller/workbook/article/WorkBookArticleControllerTest.kt
Labels: refactor

#339 [Fix/#338] 구독 학습지 마지막 아티클을 받고 progess를 증가하는 문제해결
  batch/src/main/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriter.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriterTest.kt
Labels: fix

#341 [Fix/#340] 삭제된 멤버 제가입시 ID값이 재대로 내려가지 않는 문제해결
  api/src/main/kotlin/com/few/api/domain/member/usecase/SaveMemberUseCase.kt
  api/src/test/kotlin/com/few/api/domain/member/usecase/SaveMemberUseCaseTest.kt
Labels: fix

#344 [Infra/AWS/#343] ECS, SSM 메일 관련 변수 추가
  infra/terraform/aws/ecs.tf
  infra/terraform/aws/ssm.tf
Labels: infra

#345 [Refactor/#343] mailsender java -> aws 전환 작업
  email/build.gradle.kts
  email/src/main/kotlin/com/few/email/config/MailSenderConfig.kt
  email/src/main/kotlin/com/few/email/config/porperty/AwsEmailProviderProperties.kt
  email/src/main/kotlin/com/few/email/sender/EmailSender.kt
  email/src/main/kotlin/com/few/email/sender/SendEmailSender.kt
  email/src/main/kotlin/com/few/email/sender/provider/AwsSESEmailSendProvider.kt
  email/src/main/kotlin/com/few/email/sender/provider/EmailSendProvider.kt
  email/src/main/kotlin/com/few/email/sender/provider/JavaEmailSendProvider.kt
  email/src/main/kotlin/com/few/email/service/article/SendArticleEmailService.kt
  email/src/main/kotlin/com/few/email/service/member/SendAuthEmailService.kt
  email/src/main/resources/application-email-local.yml
  email/src/main/resources/application-email-prd.yml
Labels: config, refactor, resource

#347 [Fix/#346] 단일 워크북 조회시 포함 아티클 정렬이 day 순으로 되어있지 않은 문제 해결
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleDao.kt
Labels: fix

#349 [Fix/#348] 프로필에 따른 메일센더 빈 미생성 문제 해결
  email/src/main/kotlin/com/few/email/sender/provider/AwsSESEmailSendProvider.kt
  email/src/main/kotlin/com/few/email/sender/provider/JavaEmailSendProvider.kt
Labels: fix

#350 [RELEASE] v24.08.17.01
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleDao.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/SaveMemberUseCase.kt
  api/src/test/kotlin/com/few/api/domain/member/usecase/SaveMemberUseCaseTest.kt
  email/build.gradle.kts
  email/src/main/kotlin/com/few/email/config/MailSenderConfig.kt
  email/src/main/kotlin/com/few/email/config/porperty/AwsEmailProviderProperties.kt
  email/src/main/kotlin/com/few/email/sender/EmailSender.kt
  email/src/main/kotlin/com/few/email/sender/SendEmailSender.kt
  email/src/main/kotlin/com/few/email/sender/provider/AwsSESEmailSendProvider.kt
  email/src/main/kotlin/com/few/email/sender/provider/EmailSendProvider.kt
  email/src/main/kotlin/com/few/email/sender/provider/JavaEmailSendProvider.kt
  email/src/main/kotlin/com/few/email/service/article/SendArticleEmailService.kt
  email/src/main/kotlin/com/few/email/service/member/SendAuthEmailService.kt
  email/src/main/resources/application-email-local.yml
  email/src/main/resources/application-email-prd.yml
Labels: config

#352 [Refactor/#351] WorkBookSubscriberWriter 책임 분리 리펙토링
  batch/src/main/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriter.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/model/ReceiveLastArticleRecord.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/model/ReceiveLastArticleRecordFilter.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/model/UpdateProgressRecord.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/model/UpdateProgressRecordFilter.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/service/BrowseArticleContentsService.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/service/BrowseMemberEmailService.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/service/BrowseMemberReceiveArticlesService.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/service/BrowseWorkbookLastDayColService.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/support/MailSendRecorder.kt
  batch/src/main/kotlin/com/few/batch/service/article/writer/support/MailServiceArgsGenerator.kt
  batch/src/test/kotlin/com/few/batch/BatchTestContainerInitializer.kt
  batch/src/test/kotlin/com/few/batch/BatchTestDataSourceConfig.kt
  batch/src/test/kotlin/com/few/batch/BatchTestFlywayConfig.kt
  batch/src/test/kotlin/com/few/batch/BatchTestSpec.kt
  batch/src/test/kotlin/com/few/batch/log/BatchCallExecutionServiceTest.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriterTest.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/WorkBookSubscriberWriterTestSetHelper.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/model/ReceiveLastArticleRecordFilterTest.kt
  batch/src/test/kotlin/com/few/batch/service/article/writer/model/UpdateProgressRecordFilterTest.kt
  batch/src/test/resources/application-test.yml
  batch/src/test/resources/docker-compose.yml
  batch/src/test/resources/mysql-init.d/00_init.sql
Labels: refactor

#355 [Feat/#354] pinpoint 적용
  .github/workflows/ecs-cd.yml
  .github/workflows/ecs-dev-cd.yml
  api/Dockerfile.dev.pinpoint
  api/Dockerfile.prd.pinpoint
  api/build.gradle.kts
Labels: feature

#357 [Refactor/#291] Explain과 Explain Anaylze 쿼리 실행하도록 수정
  api-repo/src/test/kotlin/com/few/api/repo/explain/ExplainGenerator.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/article/ArticleDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/article/ArticleMainCardDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/article/ArticleViewCountDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/article/ArticleViewHisDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/member/MemberDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/problem/ProblemDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/subscription/SubscriptionDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/workbook/WorkbookDaoExplainGenerateTest.kt
Labels: refactor

#359 [Refactor/#358] 아티클 읽음 기록 이벤트 처리로 리펙토링
  api/src/main/kotlin/com/few/api/domain/article/event/ReadArticleEventListener.kt
  api/src/main/kotlin/com/few/api/domain/article/event/dto/ReadArticleEvent.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/BrowseArticlesUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/article/usecase/ReadWorkBookArticleUseCase.kt
  api/src/main/kotlin/com/few/api/web/controller/article/ArticleController.kt
  api/src/test/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCaseTest.kt
  api/src/test/kotlin/com/few/api/web/controller/ControllerTestSpec.kt
  api/src/test/kotlin/com/few/api/web/controller/article/ArticleControllerTest.kt
Labels: refactor

#366 [Fix/#126] CreatedAt이 배열로 내려가는 문제 해결
  api/src/main/kotlin/com/few/api/config/ApiConfig.kt
  api/src/main/kotlin/com/few/api/web/controller/article/response/ReadArticleResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/subscription/response/MainViewBrowseSubscribeWorkbooksResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/article/response/ReadWorkBookArticleResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/response/BrowseWorkBooksResponse.kt
  api/src/main/kotlin/com/few/api/web/controller/workbook/response/ReadWorkBookResponse.kt
Labels: config, fix

#364 [Refactor/#360] 구독과 동시에 아티클 전송할 수 있도록 수정
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/ArticleDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/query/SelectArticleContentQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/article/record/ArticleContentRecord.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/MemberDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/member/query/SelectMemberEmailQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/SubscriptionDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/command/UpdateArticleProgressCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/command/UpdateLastArticleProgressCommand.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/workbook/WorkbookDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/workbook/query/SelectWorkBookLastArticleIdQuery.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/member/MemberDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/subscription/SubscriptionDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/workbook/WorkbookDaoExplainGenerateTest.kt
  api/src/main/kotlin/com/few/api/domain/subscription/event/WorkbookSubscriptionAfterCompletionEventListener.kt
  api/src/main/kotlin/com/few/api/domain/subscription/event/WorkbookSubscriptionEventListener.kt
  api/src/main/kotlin/com/few/api/domain/subscription/event/dto/WorkbookSubscriptionEvent.kt
  api/src/main/kotlin/com/few/api/domain/subscription/handler/SendWorkbookArticleAsyncHandler.kt
  api/src/main/kotlin/com/few/api/domain/subscription/handler/WorkbookSubscriptionClientAsyncHandler.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/SubscriptionArticleService.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/SubscriptionEmailService.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/SubscriptionMemberService.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/SubscriptionWorkbookService.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/dto/ReadArticleContentInDto.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/dto/ReadArticleContentOutDto.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/dto/ReadMemberEmailInDto.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/dto/ReadMemberEmailOutDto.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/dto/ReadWorkbookLastArticleIdInDto.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/dto/ReadWorkbookLastArticleIdOutDto.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/dto/SendArticleInDto.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCase.kt
  api/src/test/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCaseTest.kt
  email/src/main/kotlin/com/few/email/service/article/dto/SendArticleEmailArgs.kt
Labels: refactor

#365 [Refactor/#363] SubscribeWorkbookUseCase 모델 변환
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/model/CancelledWorkbookSubscriptionHistory.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/model/WorkbookSubscriptionHistory.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/model/WorkbookSubscriptionStatus.kt
  api/src/test/kotlin/com/few/api/domain/subscription/usecase/model/WorkbookSubscriptionHistoryTest.kt
Labels: refactor

#368 [Fix/#367] #363 머지하며 빌드가 동작하지 않는 문제 해결
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCase.kt
Labels: fix

#370 [Refactor/#369] 이메일 발신자 설정
  email/src/main/kotlin/com/few/email/sender/EmailSender.kt
  email/src/main/kotlin/com/few/email/sender/provider/AwsSESEmailSendProvider.kt
  email/src/main/kotlin/com/few/email/sender/provider/EmailSendProvider.kt
  email/src/main/kotlin/com/few/email/sender/provider/JavaEmailSendProvider.kt
Labels: refactor

#373 [Refactor/#372] 범위지정 함수 구현 통일
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/SubscriptionDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/CountAllWorkbooksSubscriptionQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/SelectAllMemberWorkbookActiveSubscriptionQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/subscription/query/SelectAllMemberWorkbookInActiveSubscriptionQuery.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/workbook/WorkbookDao.kt
  api-repo/src/main/kotlin/com/few/api/repo/dao/workbook/query/BrowseWorkBookQueryWithSubscriptionCountQuery.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/subscription/SubscriptionDaoExplainGenerateTest.kt
  api-repo/src/test/kotlin/com/few/api/repo/explain/workbook/WorkbookDaoExplainGenerateTest.kt
  api/src/main/kotlin/com/few/api/client/repo/RepoClient.kt
  api/src/main/kotlin/com/few/api/client/repo/event/SlowQueryEventListener.kt
  api/src/main/kotlin/com/few/api/client/subscription/SubscriptionClient.kt
  api/src/main/kotlin/com/few/api/config/crypto/IdEncryption.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/service/ArticleMainCardService.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/service/GetUrlService.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/AddArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/AddWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/ConvertContentUseCase.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/MapArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/admin/document/usecase/PutImageUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/service/BrowseArticleProblemsService.kt
  api/src/main/kotlin/com/few/api/domain/article/service/ReadArticleWriterRecordService.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/BrowseArticlesUseCase.kt
  api/src/main/kotlin/com/few/api/domain/article/usecase/ReadArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/log/AddApiLogUseCase.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/DeleteMemberUseCase.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/SaveMemberUseCase.kt
  api/src/main/kotlin/com/few/api/domain/member/usecase/TokenUseCase.kt
  api/src/main/kotlin/com/few/api/domain/problem/usecase/BrowseProblemsUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/handler/SendWorkbookArticleAsyncHandler.kt
  api/src/main/kotlin/com/few/api/domain/subscription/handler/WorkbookSubscriptionClientAsyncHandler.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/SubscriptionArticleService.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/SubscriptionEmailService.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/SubscriptionMemberService.kt
  api/src/main/kotlin/com/few/api/domain/subscription/service/SubscriptionWorkbookService.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/BrowseSubscribeWorkbooksUseCase.kt
  api/src/main/kotlin/com/few/api/domain/subscription/usecase/SubscribeWorkbookUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/article/usecase/ReadWorkBookArticleUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/service/WorkbookArticleService.kt
  api/src/main/kotlin/com/few/api/domain/workbook/service/WorkbookMemberService.kt
  api/src/main/kotlin/com/few/api/domain/workbook/service/WorkbookSubscribeService.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/BrowseWorkbooksUseCase.kt
  api/src/main/kotlin/com/few/api/domain/workbook/usecase/ReadWorkbookUseCase.kt
Labels: config, refactor
